*{
    margin:0;
    padding:0;
}
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.card-container{
    display: flex;
    justify-content: space-between;
}
.card{
    background-color: rgb(234, 213, 187); 
    color: #241d1d;
    text-align: center;
    font-family: 'Roboto Mono';
    width:100%;
    height:300px;
}
.card-img-top
{
    height:41%;
    width: 60%;
}
.card-body
{
    width:60%;
    height:20%;
}